
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.boldInt {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.facebook {
  background-color: #198ff5;
}

.twitter{
  background-color: #1ca0f2;
}

.instagram{
  background: linear-gradient(to right, #fdc468, #df4996);
}

.youtube{
  background-color: #c4032a;
}


.toggleClass:focus {
  color: red;
  }

.dark-mode-bg {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}


.light-mode-hover:hover {
  background-image: linear-gradient(to right, #378fe6, #3eda82) !important;
}